@page "{url}"
@model CharacterProfileModel
@{
    ViewData["Title"] = "CharacterProfile";
}

<h1>Character Profile</h1>

<table class="table-borderless" id="profile">
    <tr>
        <td class="table-label">Name : </td>
        <td class="table-data">@Model.Profile.Name</td>
    </tr>
    <tr>
        <td class="table-label">Height : </td>
        <td class="table-data">@Model.Profile.Height</td>
    </tr>
    <tr>
        <td class="table-label">Mass : </td>
        <td class="table-data">@Model.Profile.Mass</td>
    </tr>
    <tr>
        <td class="table-label">Hair Color : </td>
        <td class="table-data">@Model.Profile.HairColor</td>
    </tr>
    <tr>
        <td class="table-label">Skin Color : </td>
        <td class="table-data">@Model.Profile.SkinColor</td>
    </tr>
    <tr>
        <td class="table-label">Eye Color : </td>
        <td class="table-data">@Model.Profile.EyeColor</td>
    </tr>
    <tr>
        <td class="table-label">Birth Year : </td>
        <td class="table-data">@Model.Profile.BirthYear</td>
    </tr>
    <tr>
        <td class="table-label">Gender : </td>
        <td class="table-data">@Model.Profile.HomeWorld</td>
    </tr>
    <tr>
        <td class="table-label">Species : </td>
        <td class="table-data">@Model.Profile.Species</td>
    </tr>
    @if (Model.Profile.Films.Count > 0)
    {
        <tr>
            <td class="table-label">Films : </td>
            <td class="table-data">
                <ul>
                    @foreach(var film in Model.Profile.Films)
        {
            <li>@film</li>
        }
                </ul>
            </td>
        </tr>
    }

    @if (Model.Profile.Vehicles.Count > 0)
    {
        <tr>
            <td class="table-label">Vehicles : </td>
            <td class="table-data">
                <ul>
                    @foreach(var vehicle in Model.Profile.Vehicles)
                    {
                        <li>@vehicle</li>
                    }
                </ul>
            </td>
        </tr>
    }
    @if (Model.Profile.StarShips.Count > 0)
    {
        <tr>
            <td class="table-label">StarShips : </td>
            <td class="table-data">
                <ul>
                    @foreach(var starShip in Model.Profile.StarShips)
                    {
                        <li>@starShip</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>