@page "{url}"
@model SWAPI.Pages.PlanetProfileModel
@{
    ViewData["Title"] = "PlanetProfile";
}

<h1>Planet Profile</h1>

<table class="table-borderless" id="profile">
    <tr>
        <td class="table-label">Name : </td>
        <td class="table-data">@Model.Profile.Name</td>
    </tr>
    <tr>
        <td class="table-label">Rotation Period : </td>
        <td class="table-data">@Model.Profile.RotationPeriod</td>
    </tr>
    <tr>
        <td class="table-label">Orbital Period  : </td>
        <td class="table-data">@Model.Profile.OrbitalPeriod</td>
    </tr>
    <tr>
        <td class="table-label">Diameter : </td>
        <td class="table-data">@Model.Profile.Diameter</td>
    </tr>
    <tr>
        <td class="table-label">Climate : </td>
        <td class="table-data">@Model.Profile.Climate</td>
    </tr>
    <tr>
        <td class="table-label">Gravity : </td>
        <td class="table-data">@Model.Profile.Gravity</td>
    </tr>
    <tr>
        <td class="table-label">Terrain : </td>
        <td class="table-data">@Model.Profile.Terrain</td>
    </tr>
    <tr>
        <td class="table-label">Surface Water : </td>
        <td class="table-data">@Model.Profile.SurfaceWater</td>
    </tr>
    <tr>
        <td class="table-label">Population : </td>
        <td class="table-data">@Model.Profile.Population</td>
    </tr>
    @if (Model.Profile.Residents.Count > 0)
    {
        <tr>
            <td class="table-label">Residents : </td>
            <td class="table-data">
                <ul>
                    @foreach (var resident in Model.Profile.Residents)
                    {
                        <li>@resident</li>
                    }
                </ul>
            </td>
        </tr>
    }
    @if (Model.Profile.Films.Count > 0)
    {
        <tr>
            <td class="table-label">Films : </td>
            <td class="table-data">
                <ul>
                    @foreach (var film in Model.Profile.Films)
                    {
                        <li>@film</li>
                    }
                </ul>
            </td>
        </tr>
    }

</table>