@page "{url}"
@model SWAPI.Pages.StarShipProfileModel
@{
    ViewData["Title"] = "StarShipProfile";
}

<h1>StarShipProfile</h1>
<ul id="profile">
    <li>Name : @Model.Profile.Name
    <li>Model : @Model.Profile.Model
    <li>Manufacturer : @Model.Profile.Manufacturer
    <li>Cost In Credits : @Model.Profile.CostInCredits
    <li>Length : @Model.Profile.Length
    <li>Max Atmosphering Speed : @Model.Profile.MaxAtmospheringSpeed
    <li>Crew : @Model.Profile.Crew
    <li>Passengers : @Model.Profile.Passengers
    <li>CargoCapacity : @Model.Profile.CargoCapacity
    <li>Consumables : @Model.Profile.Consumables
    <li>HyperdriveRating : @Model.Profile.HyperdriveRating
    <li>Mglt : @Model.Profile.Mglt
    <li>Star Ship Class: @Model.Profile.StarShipClass
    <li>
        <ol>
            Pilots :
            @foreach (var pilot in Model.Profile.Pilots)
            {
                <li>
                    @pilot
                </li>
            }
        </ol>

    </li>
    <li>
        <ol>
            Films :
            @foreach (var film in Model.Profile.Films)
            {
                <li>@film</li>
            }
        </ol>
    </li>
</ul>