@page "{url}"
@model SWAPI.Pages.StarShipProfileModel
@{
    ViewData["Title"] = "StarShipProfile";
}

<h1>Star Ship Profile</h1>

<table class="table-borderless" id="profile">
    <tr>
        <td class="table-label">Name : </td>
        <td class="table-data">@Model.Profile.Name</td>
    </tr>
    <tr>
        <td class="table-label">Model : </td>
        <td class="table-data">@Model.Profile.Model</td>
    </tr>
    <tr>
        <td class="table-label">Manufacturer : </td>
        <td class="table-data">@Model.Profile.Manufacturer</td>
    </tr>
    <tr>
        <td class="table-label">Cost In Credits : </td>
        <td class="table-data">@Model.Profile.CostInCredits</td>
    </tr>
    <tr>
        <td class="table-label">Length : </td>
        <td class="table-data">@Model.Profile.Length</td>
    </tr>
    <tr>
        <td class="table-label">Max Atmosphering Speed : </td>
        <td class="table-data">@Model.Profile.MaxAtmospheringSpeed</td>
    </tr>
    <tr>
        <td class="table-label">Crew : </td>
        <td class="table-data">@Model.Profile.Crew</td>
    </tr>
    <tr>
        <td class="table-label">Passengers : </td>
        <td class="table-data">@Model.Profile.Passengers</td>
    </tr>
    <tr>
        <td class="table-label">CargoCapacity : </td>
        <td class="table-data">@Model.Profile.CargoCapacity</td>
    </tr>
    <tr>
        <td class="table-label">Consumables : </td>
        <td class="table-data">@Model.Profile.Consumables</td>
    </tr>
    <tr>
        <td class="table-label">HyperdriveRating : </td>
        <td class="table-data">@Model.Profile.HyperdriveRating</td>
    </tr>
    <tr>
        <td class="table-label">Mglt : </td>
        <td class="table-data">@Model.Profile.Mglt</td>
    </tr>
    <tr>
        <td class="table-label">Star Ship Class : </td>
        <td class="table-data">@Model.Profile.StarShipClass</td>
    </tr>

    @if (Model.Profile.Pilots.Count > 0)
    {
        <tr>
            <td class="table-label">Pilots : </td>
            <td class="table-data">
                <ul>
                    @foreach (var pilot in Model.Profile.Pilots)
                    {
                        <li>@pilot</li>
                    }
                </ul>
            </td>
        </tr>
    }
    @if (Model.Profile.Films.Count > 0)
    {
        <tr>
            <td class="table-label">Films : </td>
            <td class="table-data">
                <ul>
                    @foreach (var film in Model.Profile.Films)
                    {
                        <li>@film</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>